<ol style="padding-inline-start: 10px;"> <a href="{{ site.url }}/img/gallery/DSC2127-min.png"
        data-lightbox="QPassemblyphoto" data-title="Assembling the Quadruped"><img style="border-radius:15px"
            src="{{ site.url }}/img/gallery/DSC2127-min.png"></a>
</ol>
<h1><span data-i18n="skills.my_skills">About</span></h1>
<div>

    I'm an Electrical Engineering student at the University of Michigan College of Engineering, where I've gained
    diverse
    experience as an undergraduate researcher, teaching assistant, and design team lead. I'm passionate about
    the intersection of ME, EE, and CS, particularly in robotics
    applications. I am deeply inspired to aid in the exploration of the final frontier by creating the next generation
    of space explorers. In my view, intelligent and dynamic robotic explorers are the perfect candidate.
    Additionally, I enjoy golfing, hiking, digital photography, and mountain biking.
    <br>
    <br>

    I am thrilled to announce that I'll be joining the University of California Berkeley as an EECS Ph.D. student,
    researching and concentrating in artificial
    intelligence and robotics. If you wish to get in touch you can contact me at yujustin@berkeley.edu! <br /><br />


</div>