<!-- <ol style="padding-inline-start: 10px;"> <a href="{{ site.url }}/img/gallery/DSC2127-min.png"
        data-lightbox="QPassemblyphoto" data-title="Assembling the Quadruped"><img
            style="border-radius:15px;max-width: 700px;width: 90%;"
            src="https://uynitsuj.github.io/img/gallery/DSC2127-min.png"></a>
</ol> -->
<h1><span data-i18n="skills.my_skills">About</span></h1>
<div>

    I'm currently pursuing a Ph.D. in EECS concentrating in artificial intelligence and robotics at the University of
    California Berkeley. I graduated Summa Cum Laude with a B.S.E. in Electrical Engineering from the University of
    Michigan, Ann Arbor in 2023.
    <br>
    <br>

</div>