<div class="proj-grid">
{% for project in site.data.index.projects %}
  <div class="proj-card">
    <div class="proj-img">
      <img src="{{ site.url }}/img/robots/{{ project.image }}" alt="{{ project.name }}" loading="lazy">
    </div>
    <div class="proj-body">
      <h3 class="proj-name">{{ project.name }}</h3>
      <p class="proj-desc">{{ project.descr }}</p>
      <div class="proj-actions">
        {% if project.github %}
        <a href="{{ project.github }}" class="proj-btn" target="_blank">
          <i class="fa fa-fw fa-github"></i> GitHub
        </a>
        {% endif %}
        {% if project.youtube %}
        <a href="{{ project.youtube }}" class="proj-btn" target="_blank">
          <i class="fa-brands fa-youtube"></i> Video
        </a>
        {% endif %}
        {% if project.website %}
        <a href="{{ project.website }}" class="proj-btn" target="_blank">
          <i class="fa fa-fw fa-home"></i> Website
        </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
