<h1><span data-i18n="skills.my_skills">Research</span></h1>

<p>⚙️ Under construction ⚙️</p>

{% for pub in site.data.index.publications %}
<div class="row">
    <div class="col">
        <div class="col m6" style="float:left">{% if pub.image %}
            <img align="left" class="hidden-md" style="margin-left:10px;border-radius:25px;padding-bottom:3px"
                src="{{ site.url }}/img/pub/{{ pub.image }}" alt="{{ site.url }}/img/pub/{{ pub.image }}" height="200">
            {% endif %}
        </div>
        <div class="col m6">
            <!-- TITLE -->
            <h4 style="margin: 0">{{ pub.title }}</h4>
            <!-- AUTHORS -->
            {{ pub.authors }}
            <br>
            <!-- <br> -->
            <!-- CONFERENCE -->
            <!-- Submitted to <em>ICRA</em> 2023 -->
            <!-- LINKS -->
            <a href="{{ pub.pub }}">Paper</a> {% if pub.website %} / <a href="{{ pub.website }}">Website</a>{% endif %}
            <p></p>
            <!-- SUMMARY -->
            {% if pub.desc %}
            {{ pub.desc }}
            {% endif %}
        </div>
    </div>
</div>
<hr>
{% endfor %}