<h1>Research</h1>

<div class="row" style="background-color: #191919; border-radius: 15px; padding: 20px;">
    <div class="col">
        <div class="col m5" style="float:middle">
            <img align="middle" class="hidden-md" style="margin:auto;border-radius:9px;display:block"
                src="{{ site.url }}/img/pub/DRIFT.png" alt="{{ site.url }}/img/pub/DRIFT.png" height="200">
        </div>
        <div class="col m6 card-desc">
            <!-- TITLE -->
            <h4 style="margin: 0">DRIFT: Dead Reckoning for Robotics In Field Time</h4>
            <!-- AUTHORS -->
            Tzu-Yuan Lin, Tingjun Li, Jonathan Tong, Justin Yu, Maani Ghaffari
            <br>
            <!-- LINKS -->
            <p style="margin:10px;"></p>
            <b>
                Paper (WIP) / <a href="https://umich-curly.github.io/DRIFT_Website/" target="_blank"><i
                        class="fa fa-fw fa-home"></i> Website</a>
            </b>
            <p></p>
        </div>
    </div>
</div>
<p style="margin:18px;"></p>

<div class="row" style="background-color: #191919; border-radius: 15px; padding: 20px;">
    <div class="col">
        <div class="col m5" style="float:middle">
            <img align="middle" class="hidden-md" style="margin:auto;border-radius:9px;display:block"
                src="{{ site.url }}/img/pub/cheetah.png" alt="{{ site.url }}/img/pub/cheetah.png" height="200">
        </div>
        <div class="col m6 card-desc">
            <!-- TITLE -->
            <h4 style="margin: 0">Legged Robot State Estimation using Invariant Kalman Filtering and Learned Contact
                Events</h4>
            <!-- AUTHORS -->
            Tzu-Yuan Lin, Ray Zhang, Justin Yu, Maani Ghaffari
            <br>
            <!-- LINKS -->
            <p style="margin:10px;"></p>
            <b>
                CoRL 2021 - <a href="https://arxiv.org/abs/2106.15713" target="_blank"><img
                        src="https://uynitsuj.github.io/images/arxiv.png" alt="A " style="
                            height: 1em;
                            margin: 0px;
                            vertical-align: middle;
                            display: inline;
                        " class="inline-image"> arXiv</a> / <a href="https://www.youtube.com/watch?v=oVbP-Y8xT_E"
                    target="_blank"><i class="fa-brands fa-youtube"></i>
                    Video</a>
            </b>
            <p></p>
        </div>
    </div>
</div>