<h1>Research</h1>

<div class="row" style="background-color: #191919; border-radius: 15px; padding: 20px; border: 2.5px solid #4f4f4f;">
    <div class="col">
        <div class="col m5" style="float:middle; margin-right:15px; margin-bottom: 8px; margin-top: 8px;">
            <!-- <img align="middle" class="hidden-md" style="margin:auto;border-radius:15px;display:block"
                src="{{ site.url }}/img/pub/POGS.mp4" alt="{{ site.url }}/img/pub/POGS.mp4" height="240"> -->
                <video src="{{ site.url }}/img/pub/POGS.mp4" autoplay="" loop="" muted="muted" style="margin:auto;border-radius:15px;display:block" playsinline="" height="220" controlslist="nodownload"></video>
        </div>
        <div class="col m6 card-desc">
            <!-- TITLE -->
            <h4 style="margin: 0">POGS: Persistent Object Gaussian Splat for Tracking Human and Robot Manipulation of Irregularly Shaped Objects</h4>
            <!-- AUTHORS -->
            <b>Justin Yu</b><sup>*</sup>, Kush Hari<sup>*</sup>, Karim El-Refai<sup>*</sup>, Arnav Dalal, Justin Kerr, Chung Min Kim, Richard Cheng, Muhammad Zubair Irshad, Ken Goldberg
            <br>
            <!-- LINKS -->
            <p style="margin:10px;"></p>
            <b>
                IEEE International Conference on Robotics and Automation, ICRA 2025, Atlanta, GA. / <a href="https://berkeleyautomation.github.io/POGS/" target="_blank"><i
                        class="fa fa-fw fa-home"></i> Website (WIP)</a>
            </b>
            <p></p>
        </div>
    </div>
</div>
<p style="margin:18px;"></p>

<div class="row" style="background-color: #191919; border-radius: 15px; padding: 20px; border: 2.5px solid #4f4f4f;">
    <div class="col">
        <div class="col m5" style="float:middle; margin-right:15px; margin-bottom: 8px; margin-top: 8px;">
            <!-- <img align="middle" class="hidden-md" style="margin:auto;border-radius:15px;display:block"
                src="{{ site.url }}/img/pub/LEGS.png" alt="{{ site.url }}/img/pub/LEGS.png" height="240"> -->
            <video src="{{ site.url }}/img/pub/LEGS_demo.mp4" autoplay="" loop="" muted="muted" style="margin:auto;border-radius:15px;display:block" playsinline="" height="220" controlslist="nodownload"></video>
        </div>
        <div class="col m6 card-desc">
            <!-- TITLE -->
            <h4 style="margin: 0">LEGS: Incrementally Building Room-Scale Language-Embedded Gaussian Splats with a Mobile Robot</h4>
            <!-- AUTHORS -->
            <b>Justin Yu</b><sup>*</sup>, Kush Hari<sup>*</sup>, Kishore Srinivas<sup>*</sup>, Karim El-Refai, Adam Rashid, Chung Min Kim, Justin Kerr, Richard Cheng, Muhammad Zubair Irshad, Ashwin Balakrishna, Thomas Kollar, Ken Goldberg
            <br>
            <!-- LINKS -->
            <p style="margin:10px;"></p>
            <b>
                IEEE International Conference on Intelligent Robots and Systems, IROS 2024, Abu Dhabi / <a href="https://autolab.berkeley.edu/assets/publications/media/2024_IROS_LEGS_CR.pdf" target="_blank"><i
                    class="fa fa-fw fa-home"></i> Paper </a> / <a href="https://berkeleyautomation.github.io/LEGS/" target="_blank"><i
                        class="fa fa-fw fa-home"></i> Website</a>
            </b>
            <p></p>
        </div>
    </div>
</div>
<p style="margin:18px;"></p>


<div class="row" style="background-color: #191919; border-radius: 15px; padding: 20px; border: 2.5px solid #4f4f4f;">
    <div class="col">
        <div class="col m5" style="float:middle; margin-right:15px; margin-bottom: 8px; margin-top: 8px;">
            <img align="middle" class="hidden-md" style="margin:auto;border-radius:15px;display:block"
                src="{{ site.url }}/img/pub/MANIP.png" alt="{{ site.url }}/img/pub/MANIP.png" height="240">
        </div>
        <div class="col m6 card-desc">
            <!-- TITLE -->
            <h4 style="margin: 0">MANIP: Integrating Interactive Perception into Long-Horizon Robot Manipulation Systems</h4>
            <!-- AUTHORS -->
            <b>Justin Yu</b><sup>*</sup>, Tara Sadjadpour<sup>*</sup> Abby O’Neill, Mehdi Khfifi, Lawrence Yunliang Chen, Richard Cheng, Muhammad Zubair Irshad, Ashwin Balakrishna, Thomas Kollar, Ken Goldberg
            <br>
            <!-- LINKS -->
            <p style="margin:10px;"></p>
            <b>
                IEEE International Conference on Intelligent Robots and Systems, IROS 2024, Abu Dhabi / <a href="https://autolab.berkeley.edu/assets/publications/media/IROS24_MANIP_CR.pdf" target="_blank"><i
                    class="fa fa-fw fa-home"></i> Paper </a> / <a href="https://berkeleyautomation.github.io/MANIP/" target="_blank"><i
                        class="fa fa-fw fa-home"></i> Website</a>
            </b>
            <p></p>
        </div>
    </div>
</div>
<p style="margin:18px;"></p>

<div class="row" style="background-color: #191919; border-radius: 15px; padding: 20px; border: 2.5px solid #4f4f4f;">
    <div class="col">
        <div class="col m5" style="float:middle; margin-right:15px; margin-bottom: 8px; margin-top: 8px;">
            <img align="middle" class="hidden-md" style="margin:auto;border-radius:15px;display:block"
                src="{{ site.url }}/img/pub/cheetah.png" alt="{{ site.url }}/img/pub/cheetah.png" height="240">
        </div>
        <div class="col m6 card-desc">
            <!-- TITLE -->
            <h4 style=" margin: 0">Legged Robot State Estimation using Invariant Kalman Filtering and Learned Contact
                Events</h4>
            <!-- AUTHORS -->
            Tzu-Yuan Lin, Ray Zhang, <b>Justin Yu</b>, Maani Ghaffari
            <br>
            <!-- LINKS -->
            <p style="margin:10px;"></p>
            <b>
                Conference on Robot Learning, CoRL 2021, London / <a href="https://arxiv.org/abs/2106.15713" target="_blank"><img
                        src="https://uynitsuj.github.io/images/arxiv.png" alt="A " style="
                            height: 1em;
                            margin: 0px;
                            vertical-align: middle;
                            display: inline;
                        " class="inline-image"> arXiv</a> / <a href="https://www.youtube.com/watch?v=oVbP-Y8xT_E"
                    target="_blank"><i class="fa-brands fa-youtube"></i>
                    Video</a>
            </b>
            <p></p>
        </div>
    </div>
</div>
<p style="margin:18px;"></p>