.archive {
  #timeline {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -4px;
      border-radius: 99px;
      height: 100%;
      width: 8px;
      background: #953ef847;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .archive-title {
    position: relative;
    margin: 2em auto 1em;

    .archive-year {
      margin-left: 1em;

      &:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 50%;
        margin-left: -7px;
        margin-top: -4px;
        width: 14px;
        height: 14px;
        background: #8a22ff;
        border-radius: 50%;
      }
    }
  }


  ul {
    list-style: none;

    li {
      margin: 1em auto;
    }
  }
}