/* Post listing */
.post-listing {
  background-color: $background-color2;
  position: absolute;
  top: 395px;
  z-index: 233;
  width: 100%;
  padding: 20px 20px 0;
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);

  @include media-query($small-screen) {
    padding: 50px 30px 0;
  }

  @include media-query($medium-screen) {
    height: 100vh;
    overflow-y: scroll;
    position: initial;
    top: 0;
  }
}

.image-credit {
  float: right;
  font-weight: bold;
  font-style: italic;
  color: $info;
  font-size: 13px;
  padding-right: 20px;
}

/* Post Section */
section.post {
  margin-bottom: 1px;
}

/* Back home button */
.back-home a {
  font-size: 13px;
  font-weight: bold;
  color: $info;
  border: 1px solid lighten($text-color, 45%);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}

/* Post meta */
.post-meta {
  font-size: 13px;
  font-weight: bold;

  .post-date {
    color: $secondary;
  }

  .post-author {
    text-transform: uppercase;
    color: $warning;
  }

  .post-cat {
    text-transform: uppercase;
    color: #5dc294e6;
  }

  .read-time {
    color: $primary;
  }
}

/* Read more buttons */
a.read-more {
  padding: 5px 8px;
}

/* Post content */
#post {
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;

  .post-header {
    margin: 0 auto 50px;
  }
}

#post h1 {
  margin: 0.5em 0 1em;
}

#post h2 {
  margin: 2em 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}

#post h3 {
  margin: 1.75em 0 0.3em;
  position: relative;
}

#page {
  padding-bottom: 50px;
  min-height: 70vh;

  .page-header {
    margin: 0 auto 50px;
  }
}

.post-navigation {
  background-color: #2b2b2b;
  @include box-shadow;
}

.leonids-icon {
  margin: 0 auto;
  padding: 20px 30px;
  text-align: center;
  color: $warning;
  font-size: 16px;
  line-height: 16px;
}

.post-nav-prev,
.post-nav-next {
  min-height: 10px;
  width: 100%;
}

.post-nav-next {
  text-align: right;
}

.post-nav-btn {
  width: 100%;
  padding: 20px 30px;

  .post-nav-text {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
  }

  .table-cell {
    vertical-align: middle;
  }
}

.post-image-feature {
  margin-bottom: 40px;

  .feature-image {
    width: 100%;
    max-height: 500px;
  }
}
