<!DOCTYPE html>
<html lang="en">

{% include analytics.html %}
{% include head.html %}

<body style="background-color: #232323;">
  <div class="row">
    <div class="col s12 m3" id="sidebar-wrapper">
      <div class="table cover">
        <div class="table-middle row">
          {% include sidebar.html %}
        </div>
      </div>
      <button id="sidebar-toggle">Hide Sidebar</button>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
  </div>
  {% include js.html %}
  <script src="{{ site.url }}/js/lightbox.js"></script>
  <script>
    var sidebarWrapper = document.getElementById("sidebar-wrapper");
    var sidebarToggle = document.getElementById("sidebar-toggle");
    sidebarToggle.addEventListener("click", function () {
      if (sidebarWrapper.style.display === "none") {
        sidebarWrapper.style.display = "block";
        sidebarToggle.textContent = "Hide Sidebar";
      } else {
        sidebarWrapper.style.display = "none";
        sidebarToggle.textContent = "Show Sidebar";
      }
    });
  </script>
</body>

</html>